<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Galen Test Report</title>
        <link rel="stylesheet" href="galen-report.css"/>
        <script src="vue.js"></script>
        <script src="galen-report.js"></script>
        <script type="text/javascript">
var REPORT_DATA = {
  "testId" : "1-mobilerezervacija.gspec",
  "name" : "mobileRezervacija.gspec",
  "report" : {
    "nodes" : [ {
      "name" : "Simple check",
      "status" : "info",
      "nodes" : [ {
        "name" : "check  mobileRezervacija.gspec --url http://localhost/rezervacija.html --size 600x768 --htmlreport izvjestaji",
        "status" : "info",
        "nodes" : [ {
          "name" : "Check layout: mobileRezervacija.gspec included tags: ",
          "status" : "info",
          "time" : 1573662444022,
          "sections" : [ {
            "name" : "Header section",
            "place" : {
              "filePath" : "mobileRezervacija.gspec",
              "lineNumber" : 18
            },
            "objects" : [ {
              "name" : "logo",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 20
                },
                "name" : "width 100px",
                "meta" : [ {
                  "from" : {
                    "object" : "logo",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "logo",
                    "edge" : "right"
                  },
                  "expectedDistance" : "100px",
                  "realDistance" : "100px"
                } ],
                "highlight" : [ "logo" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 21
                },
                "name" : "height 100px",
                "meta" : [ {
                  "from" : {
                    "object" : "logo",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "logo",
                    "edge" : "bottom"
                  },
                  "expectedDistance" : "100px",
                  "realDistance" : "100px"
                } ],
                "highlight" : [ "logo" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 22
                },
                "name" : "centered horizontally inside viewport",
                "highlight" : [ "logo", "viewport" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 23
                },
                "name" : "inside screen 50px top",
                "meta" : [ {
                  "from" : {
                    "object" : "logo",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "screen",
                    "edge" : "top"
                  },
                  "expectedDistance" : "50px",
                  "realDistance" : "50px"
                } ],
                "highlight" : [ "logo", "screen" ]
              } ]
            }, {
              "name" : "li",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 25
                },
                "name" : "css display is \"block\"",
                "highlight" : [ "li" ]
              } ]
            }, {
              "name" : "list-item1",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 27
                },
                "name" : "text contains \"PoÄ?etna\"",
                "highlight" : [ "list-item1" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 46
                },
                "name" : "above list-item2",
                "meta" : [ {
                  "from" : {
                    "object" : "list-item1",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "list-item2",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "11px"
                } ],
                "highlight" : [ "list-item1", "list-item2" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 47
                },
                "name" : "aligned vertically left list-item2",
                "highlight" : [ "list-item1", "list-item2" ]
              } ]
            }, {
              "name" : "list-item2",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 29
                },
                "name" : "text contains \"Sale\"",
                "highlight" : [ "list-item2" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 46
                },
                "name" : "above list-item3",
                "meta" : [ {
                  "from" : {
                    "object" : "list-item2",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "list-item3",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "12px"
                } ],
                "highlight" : [ "list-item2", "list-item3" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 47
                },
                "name" : "aligned vertically left list-item3",
                "highlight" : [ "list-item2", "list-item3" ]
              } ]
            }, {
              "name" : "list-item3",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 31
                },
                "name" : "text contains \"Unos\"",
                "highlight" : [ "list-item3" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 46
                },
                "name" : "above list-item4",
                "meta" : [ {
                  "from" : {
                    "object" : "list-item3",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "list-item4",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "11px"
                } ],
                "highlight" : [ "list-item3", "list-item4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 47
                },
                "name" : "aligned vertically left list-item4",
                "highlight" : [ "list-item3", "list-item4" ]
              } ]
            }, {
              "name" : "list-item4",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 33
                },
                "name" : "text contains \"Rezervacije\"",
                "highlight" : [ "list-item4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 34
                },
                "name" : "css text-decoration-line is \"none\"",
                "highlight" : [ "list-item4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 46
                },
                "name" : "above list-item5",
                "meta" : [ {
                  "from" : {
                    "object" : "list-item4",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "list-item5",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "11px"
                } ],
                "highlight" : [ "list-item4", "list-item5" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 47
                },
                "name" : "aligned vertically left list-item5",
                "highlight" : [ "list-item4", "list-item5" ]
              } ]
            }, {
              "name" : "list-item5",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 36
                },
                "name" : "text contains \"Osobe\"",
                "highlight" : [ "list-item5" ]
              } ]
            }, {
              "name" : "ul",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 38
                },
                "name" : "css list-style-type is \"none\"",
                "highlight" : [ "ul" ]
              } ]
            }, {
              "name" : "meni",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 40
                },
                "name" : "inside screen 100px top",
                "meta" : [ {
                  "from" : {
                    "object" : "meni",
                    "edge" : "top"
                  },
                  "to" : {
                    "object" : "screen",
                    "edge" : "top"
                  },
                  "expectedDistance" : "100px",
                  "realDistance" : "100px"
                } ],
                "highlight" : [ "meni", "screen" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 41
                },
                "name" : "above sadrzaj 5px",
                "meta" : [ {
                  "from" : {
                    "object" : "meni",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "sadrzaj",
                    "edge" : "top"
                  },
                  "expectedDistance" : "5px",
                  "realDistance" : "5px"
                } ],
                "highlight" : [ "meni", "sadrzaj" ]
              } ]
            }, {
              "name" : "comments",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 43
                },
                "name" : "absent",
                "highlight" : [ ]
              } ]
            } ]
          }, {
            "name" : "Main section",
            "place" : {
              "filePath" : "mobileRezervacija.gspec",
              "lineNumber" : 48
            },
            "objects" : [ {
              "name" : "grid-container",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 50
                },
                "name" : "css display is \"grid\"",
                "highlight" : [ "grid-container" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 52
                },
                "name" : "css background-color is \"rgba(98, 205, 238, 0.8)\"",
                "highlight" : [ "grid-container" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 53
                },
                "name" : "inside sadrzaj",
                "meta" : [ ],
                "highlight" : [ "grid-container", "sadrzaj" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 54
                },
                "name" : "above dugmad",
                "meta" : [ {
                  "from" : {
                    "object" : "grid-container",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "dugmad",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "8px"
                } ],
                "highlight" : [ "grid-container", "dugmad" ]
              } ]
            }, {
              "name" : "global",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 56
                },
                "name" : "count any grid-item* is 37",
                "highlight" : [ "grid-item26", "grid-item27", "grid-item24", "grid-item25", "grid-item22", "grid-item23", "grid-item20", "grid-item21", "grid-item19", "grid-item17", "grid-item18", "grid-item2", "grid-item3", "grid-item30", "grid-item4", "grid-item5", "grid-item6", "grid-item7", "grid-item8", "grid-item9", "grid-item15", "grid-item37", "grid-item16", "grid-item13", "grid-item35", "grid-item14", "grid-item36", "grid-item11", "grid-item33", "grid-item12", "grid-item34", "grid-item31", "grid-item1", "grid-item10", "grid-item32", "grid-item28", "grid-item29" ]
              } ]
            }, {
              "name" : "grid-item1",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item1" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item1" ]
              } ]
            }, {
              "name" : "grid-item2",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item2" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item2" ]
              } ]
            }, {
              "name" : "grid-item3",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item3" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item3" ]
              } ]
            }, {
              "name" : "grid-item4",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item4" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item4" ]
              } ]
            }, {
              "name" : "grid-item5",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item5" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item5" ]
              } ]
            }, {
              "name" : "grid-item6",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item6" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item6" ]
              } ]
            }, {
              "name" : "grid-item7",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 59
                },
                "name" : "css background-color is \"rgba(0, 0, 0, 0)\"",
                "highlight" : [ "grid-item7" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 60
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item7" ]
              } ]
            }, {
              "name" : "grid-item8",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 63
                },
                "name" : "css background-color is \"rgb(255, 255, 255)\"",
                "highlight" : [ "grid-item8" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 64
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item8" ]
              } ]
            }, {
              "name" : "grid-item9",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 63
                },
                "name" : "css background-color is \"rgb(255, 255, 255)\"",
                "highlight" : [ "grid-item9" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 64
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item9" ]
              } ]
            }, {
              "name" : "grid-item10",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 63
                },
                "name" : "css background-color is \"rgb(255, 255, 255)\"",
                "highlight" : [ "grid-item10" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 64
                },
                "name" : "css text-align is \"center\"",
                "highlight" : [ "grid-item10" ]
              } ]
            }, {
              "name" : "slobodna",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 66
                },
                "name" : "css background-color is \"rgb(24, 206, 18)\"",
                "highlight" : [ "slobodna" ]
              } ]
            }, {
              "name" : "zauzeta",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 69
                },
                "name" : "absent",
                "highlight" : [ ]
              } ]
            }, {
              "name" : "prethodni",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 71
                },
                "name" : "css background-color is \"rgba(98, 205, 238, 0.8)\"",
                "highlight" : [ "prethodni" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 72
                },
                "name" : "left-of sljedeci",
                "meta" : [ {
                  "from" : {
                    "object" : "prethodni",
                    "edge" : "right"
                  },
                  "to" : {
                    "object" : "sljedeci",
                    "edge" : "left"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "8px"
                } ],
                "highlight" : [ "prethodni", "sljedeci" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 73
                },
                "name" : "inside dugmad",
                "meta" : [ ],
                "highlight" : [ "prethodni", "dugmad" ]
              } ]
            }, {
              "name" : "sljedeci",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 75
                },
                "name" : "css background-color is \"rgba(98, 205, 238, 0.8)\"",
                "highlight" : [ "sljedeci" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 76
                },
                "name" : "css position is \"absolute\"",
                "highlight" : [ "sljedeci" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 77
                },
                "name" : "right-of prethodni",
                "meta" : [ {
                  "from" : {
                    "object" : "sljedeci",
                    "edge" : "left"
                  },
                  "to" : {
                    "object" : "prethodni",
                    "edge" : "right"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "8px"
                } ],
                "highlight" : [ "sljedeci", "prethodni" ]
              }, {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 78
                },
                "name" : "inside dugmad",
                "meta" : [ ],
                "highlight" : [ "sljedeci", "dugmad" ]
              } ]
            }, {
              "name" : "select",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 80
                },
                "name" : "above input1",
                "meta" : [ {
                  "from" : {
                    "object" : "select",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "input1",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "14px"
                } ],
                "highlight" : [ "select", "input1" ]
              } ]
            }, {
              "name" : "input1",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 83
                },
                "name" : "above input2",
                "meta" : [ {
                  "from" : {
                    "object" : "input1",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "input2",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "14px"
                } ],
                "highlight" : [ "input1", "input2" ]
              } ]
            }, {
              "name" : "input2",
              "specs" : [ {
                "status" : "info",
                "place" : {
                  "filePath" : "mobileRezervacija.gspec",
                  "lineNumber" : 83
                },
                "name" : "above input3",
                "meta" : [ {
                  "from" : {
                    "object" : "input2",
                    "edge" : "bottom"
                  },
                  "to" : {
                    "object" : "input3",
                    "edge" : "top"
                  },
                  "expectedDistance" : ">= 0px",
                  "realDistance" : "14px"
                } ],
                "highlight" : [ "input2", "input3" ]
              } ]
            } ]
          } ],
          "objects" : {
            "select" : {
              "area" : [ 13, 371, 53, 19 ]
            },
            "grid-item26" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "screen" : {
              "area" : [ 0, 0, 572, 938 ]
            },
            "grid-item27" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item24" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-container" : {
              "area" : [ 225, 499, 120, 389 ]
            },
            "grid-item25" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item22" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item23" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item20" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item21" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "sljedeci" : {
              "area" : [ 290, 896, 80, 19 ]
            },
            "grid-item19" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item17" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "ul" : {
              "area" : [ 13, 205, 544, 142 ]
            },
            "grid-item18" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "logo" : {
              "area" : [ 236, 50, 100, 100 ]
            },
            "grid-item2" : {
              "area" : [ 238, 605, 43, 36 ]
            },
            "grid-item3" : {
              "area" : [ 238, 652, 43, 36 ]
            },
            "grid-item4" : {
              "area" : [ 238, 699, 43, 36 ]
            },
            "grid-item5" : {
              "area" : [ 238, 746, 43, 36 ]
            },
            "grid-item6" : {
              "area" : [ 238, 792, 43, 36 ]
            },
            "grid-item7" : {
              "area" : [ 238, 839, 43, 36 ]
            },
            "grid-item8" : {
              "area" : [ 291, 746, 43, 36 ]
            },
            "grid-item9" : {
              "area" : [ 291, 792, 43, 36 ]
            },
            "grid-item15" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item16" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item13" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item14" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item11" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item12" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item1" : {
              "area" : [ 238, 558, 43, 36 ]
            },
            "grid-item10" : {
              "area" : [ 291, 839, 43, 36 ]
            },
            "list-item1" : {
              "area" : [ 18, 211, 50, 17 ]
            },
            "input3" : {
              "area" : [ 13, 464, 72, 20 ]
            },
            "input2" : {
              "area" : [ 13, 430, 72, 20 ]
            },
            "input1" : {
              "area" : [ 13, 404, 12, 12 ]
            },
            "prethodni" : {
              "area" : [ 202, 896, 80, 19 ]
            },
            "list-item5" : {
              "area" : [ 18, 324, 40, 17 ]
            },
            "list-item4" : {
              "area" : [ 18, 296, 75, 17 ]
            },
            "list-item3" : {
              "area" : [ 18, 268, 33, 17 ]
            },
            "list-item2" : {
              "area" : [ 18, 239, 27, 17 ]
            },
            "dugmad" : {
              "area" : [ 202, 896, 168, 19 ]
            },
            "meni" : {
              "area" : [ 8, 100, 556, 253 ]
            },
            "grid-item30" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item37" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item35" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item36" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item33" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item34" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "sadrzaj" : {
              "area" : [ 8, 358, 556, 571 ]
            },
            "grid-item31" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item32" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "viewport" : {
              "area" : [ 0, 0, 572, 688 ]
            },
            "grid-item28" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "grid-item29" : {
              "area" : [ 0, 0, 0, 0 ]
            },
            "li" : {
              "area" : [ 13, 205, 544, 28 ]
            },
            "slobodna" : {
              "area" : [ 293, 766, 38, 13 ]
            }
          },
          "screenshot" : "layout-1-screenshot.png",
          "type" : "layout"
        } ],
        "time" : 1573662439792,
        "type" : "node"
      } ],
      "time" : 1573662435042,
      "type" : "node"
    } ]
  }
};
        </script>
    </head>
    <body>
        <div id="app">
            <div class="top-menu">
                <a class="link" href="report.html">Back to Test Overview</a>
                <span class="link" v-on:click="expandAll()">Expand All</span>
                <span class="link" v-on:click="collapseAll()">Collapse All</span>
                <span class="link" v-on:click="expandOnlyErrors()">Expand Errors</span>
            </div>
            <div v-for="node in reportData.report.nodes">
                <report-node v-if="node.type === 'node'" v-bind:node="node"></report-node>
                <div class="node-text" v-if="node.type === 'text'">
                    {{node.name}}
                </div>
                <layout-report v-if="node.type === 'layout'" v-bind:layout="node"></layout-report>
                <mutation-report v-if="node.type === 'mutation'" v-bind:report="node"></mutation-report>
            </div>
        </div>

        <template id="tpl-report-node">
            <div class="report-node">
                <div class="node-line" v-bind:class="['status-' + node.status]">
                    <span class="node-time">{{node.time | formatTime}}</span>
                    <span class="node-label"
                        v-on:click="toggleReportNode(node)"
                        v-bind:class="['status-' + node.status, node.expanded ? 'expanded': 'collapsed', 'contains-children-' + node.hasChildren]"
                        >{{node.status}}</span>
                    <span class="node-title">{{node.name}}</span>
                    <span class="node-extras-link"
                        v-if="node.extras"
                        v-on:click="showNodeExtrasPopup(node.extras)"
                        >extras</span>
                </div>
                <ul class="node-attachments" v-if="node.attachments && node.attachments.length > 0">
                    <li v-for="attachment in node.attachments">
                        <a class="icon-sprite-before node-attachment" v-bind:href="attachment">{{attachment}}</a>
                    </li>
                </ul>
                <div class="child-nodes" v-if="node.type === 'node'" v-bind:class="{'child-nodes-expanded': node.expanded}">
                    <div class="stacktrace" v-if="node.stacktrace">{{node.stacktrace}}</div>
                    <div v-for="childNode in node.nodes">
                        <report-node v-if="childNode.type === 'node'" v-bind:node="childNode"></report-node>
                        <div class="node-text" v-if="childNode.type === 'text'">
                            {{childNode.name}}
                        </div>
                        <layout-report v-if="childNode.type === 'layout'" v-bind:layout="childNode" v-bind:isSubLayout="false"></layout-report>
                        <mutation-report v-if="childNode.type === 'mutation'" v-bind:report="childNode"></mutation-report>
                    </div>
                </div>
                <div class="extras-popup popup-wrapper" v-if="extrasPopup.show">
                    <div class="popup-shadow" v-on:click="extrasPopup.show = false"> </div>
                    <div class="popup-container" style="top: 30px;">
                        <div class="popup-body">
                            <table class="extras-table">
                                <tbody>
                                    <tr v-for="extrasItem in extrasPopup.extras">
                                        <td>{{extrasItem.name}}</td>
                                        <td>
                                            <div v-if="extrasItem.value.type === 'link'">
                                                <a class="link" v-bind:href="extrasItem.value.value">{{extrasItem.value.value}}</a>
                                            </div>
                                            <div v-else v-if="extrasItem.value.type === 'file'">
                                                <a class="link" v-bind:href="extrasItem.value.value">{{extrasItem.value.value}}</a>
                                            </div>
                                            <div v-else v-if="extrasItem.value.type === 'text'">
                                                {{extrasItem.value.value}}
                                            </div>
                                            <div v-else v-if="extrasItem.value.type === 'image'">
                                                <a v-bind:href="extrasItem.value.value"><img v-bind:src="extrasItem.value.value"/></a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </template>

        <template id="tpl-mutation-report">
            <div class="mutation-report">
                <div class="node-line" v-bind:class="['status-' + report.status]">
                    <span class="node-time">{{report.time | formatTime }}</span>
                    <span class="node-label"
                        v-on:click="toggleReportNode(report)"
                        v-bind:class="['status-' + report.status, report.expanded ? 'expanded': 'collapsed', 'contains-children-true']"
                        >MUTATION</span>
                    <span class="node-title">{{report.name}}</span>
                </div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': report.expanded}">
                    <table class="mutation-table">
                        <thead>
                            <tr>
                                <th v-for="column in tableColumns" v-bind:class="{'sorted-column': sorting.columnField === column.field}">
                                    <span class="link" v-on:click="sortTable(column)">{{column.name}}</span>
                                    <span class="sorting-icon"
                                        v-if="sorting.columnField === column.field"
                                        v-bind:class="[sorting.order === 1 ? 'sorting-down' : 'sorting-up']"></span>
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="mutation-table-total">
                                <td> <b>Total</b> </td>
                                <td class="cell-passed">{{report.mutationReport.totalPassed}}</td>
                                <td class="cell-failed">{{report.mutationReport.totalFailed}}</td>
                                <td class="cell-failed">{{report.mutationReport.failedRatio | roundFailedRatio}}%</td>
                                <td></td>
                            </tr>
                            <tr v-for="mutation in mutations">
                                <td><span class="link" v-on:click="toggleMutationFor(mutation.name)">{{mutation.name}}</span></td>
                                <td class="cell-passed">{{mutation.passed}}</td>
                                <td class="cell-failed">{{mutation.failed}}</td>
                                <td class="cell-failed">{{mutation.failedRatio}}%</td>
                                <td>
                                    <div v-if="showFailedMutationsFor === mutation.name">
                                        All failed mutations:
                                        <ul>
                                            <li v-for="mutationText in mutation.failedMutations">{{mutationText}}</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </template>

        <template id="tpl-layout-report">
            <div class="layout-report">
                <div class="node-line" v-bind:class="['status-' + layout.status]">
                    <span class="node-time">{{layout.time | formatTime}}</span>
                    <span class="node-label"
                        v-on:click="toggleReportNode(layout)"
                        v-bind:class="['status-' + layout.status, layout.expanded ? 'expanded': 'collapsed', 'contains-children-' + layout.hasChildren]"
                        >LAYOUT</span>
                    <span class="node-title">{{layout.name}}</span>
                </div>
                <div class="node-horizontal-menu">
                    <span class="link" v-on:click="showFailureMap()">Failure Map</span> |
                    <span class="link" v-on:click="showHeatMap()">Heat Map</span>
                </div>

                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': layout.expanded}">
                    <layout-section v-for="section in layout.sections" v-bind:section="section" v-bind:bus="bus" v-bind:layout="layout" @spec-clicked="specClicked"></layout-section>
                </div>

                <screenshot-popup v-if="screenshotPopup.shown"
                    v-bind:screenshot="screenshotPopup.screenshotFile"
                    v-bind:highlight="screenshotPopup.highlightAreas"
                    v-bind:guides="screenshotPopup.metaGuides"
                    v-bind:spec="screenshotPopup.spec"
                    @close="screenshotPopup.shown = false"
                    ></screenshot-popup>
            </div>
        </template>

        <template id="tpl-layout-section">
            <div class="layout-section" v-bind:class="{'has-failure': section.hasFailure}">
                <div class="title icon-sprite-before"
                    v-on:click="toggleReportNode(section)"
                    v-bind:title="section.place ? section.place.filePath + ':' + section.place.lineNumber : ''"
                    >{{section.name}}</div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': section.expanded}">
                    <layout-section v-for="subSection in section.sections" v-bind:section="subSection" v-bind:bus="bus" v-bind:layout="layout"></layout-section>
                    <object-node v-for="object in section.objects" v-bind:object="object" v-bind:bus="bus" v-bind:layout="layout"></object-node>
                </div>
            </div>
        </template>

        <template id="tpl-object-node">
            <div class="layout-object" v-bind:class="{'has-failure': object.hasFailure}">
                <div class="title icon-sprite-before"
                    v-on:click="toggleReportNode(object)"
                    >{{object.name}}:</div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': object.expanded}">
                    <layout-spec v-for="spec in object.specs" v-bind:spec="spec" v-bind:bus="bus" v-bind:layout="layout"></layout-spec>

                    <layout-spec-group v-if="object.specGroups"
                        v-for="specGroup in object.specGroups"
                        v-bind:specgroup="specGroup"
                        v-bind:bus="bus"
                        v-bind:layout="layout"
                        ></layout-spec-group>
                </div>
            </div>
        </template>

        <template id="tpl-spec-group">
            <div class="layout-section" v-bind:class="{'has-failure': specgroup.hasFailure}">
                <div class="title icon-sprite-before"
                    v-on:click="toggleReportNode(specgroup)"
                    >{{specgroup.name}}:</div>
                <div class="child-nodes" v-bind:class="{'child-nodes-expanded': specgroup.expanded}">
                    <layout-spec v-for="spec in specgroup.specs" v-bind:spec="spec" v-bind:bus="bus" v-bind:layout="layout"></layout-spec>
                </div>
            </div>
        </template>

        <template id="tpl-layout-spec">
            <div class="layout-spec" v-bind:class="[isFailed ? 'has-failure': '', 'status-' + spec.status]">
                <div class="title icon-sprite-before"
                    v-on:click="showSpec"
                    v-bind:title="spec.place ? spec.place.filePath + ':' + spec.place.lineNumber : ''"
                    >{{spec.name}}</div>
                <ul class="error-messages" v-if="isFailed">
                    <li class="error-message" v-if="spec.imageComparison">
                        <span class="link" v-on:click="imageComparisonShown = true">Show image comparison</span>
                    </li>
                    <li class="error-message" v-for="error in spec.errors">{{error}}</li>
                </ul>
                <div v-if="spec.subLayout" class="sublayout">
                    <layout-section v-if="spec.subLayout.sections" v-for="section in spec.subLayout.sections" v-bind:section="section" v-bind:bus="bus" v-bind:layout="spec.subLayout"></layout-section>
                </div>
                <image-comparison-popup v-if="imageComparisonShown" v-on:close="imageComparisonShown = false" v-bind:imagedata="spec.imageComparison"/>
            </div>
        </template>


        <template id="tpl-image-comparison-popup">
            <div class="image-comparison-popup">
                <div class="popup-shadow" v-on:click="$emit('close')"> </div>
                <div class="popup-container" v-bind:style="{top: position.top + 'px', left: position.left + 'px', width: position.width + 'px', height: position.height + 'px'}">
                    <div class="popup-body">
                        <div class="image-layout">
                            <h5>Actual Image</h5>
                            <img v-bind:src="imagedata.actualImage"/>
                        </div>
                        <div class="image-layout">
                            <h5>Expected Image</h5>
                            <img v-bind:src="imagedata.expectedImage"/>
                        </div>
                        <div class="image-layout">
                            <h5>Comparison Map</h5>
                            <img v-bind:src="imagedata.comparisonMapImage"/>
                        </div>
                    </div>
                </div>
            </div>
        </template>


        <template id="tpl-screenshot-popup">
            <div>
                <div class="popup-shadow" v-on:click="$emit('close')"> </div>
                <div class="popup-container" v-bind:style="{top: position.top + 'px', left: position.left + 'px', width: position.width + 'px', height: position.height + 'px'}">
                    <div class="popup-body">
                        <div class="image-cropper" v-bind:style="{width: crop.width + 'px', height: crop.height + 'px'}">
                            <img v-bind:src="screenshot" v-bind:style="{'margin-left': crop.offsetLeft +'px', 'margin-top': crop.offsetTop + 'px'}"/>
                        </div>
                        <svg v-bind:width="crop.width + 'px'" v-bind:height="crop.height + 'px'">
                            <g v-for="object in highlight.objects">
                                <rect
                                    v-bind:x="object.area.x + crop.offsetLeft"
                                    v-bind:y="object.area.y + crop.offsetTop"
                                    v-bind:width="object.area.width"
                                    v-bind:height="object.area.height"
                                    style="opacity: 0.8"
                                    v-bind:style="{fill: object.fill?object.color:'none', 'stroke-width': object.border?3:0, stroke: object.border?object.color:'none'}"/>
                                <g v-if="object.caption">
                                    <rect
                                        v-bind:x="object.area.x + crop.offsetLeft"
                                        v-bind:y="object.area.y + crop.offsetTop - 20"
                                        v-bind:width="object.name.length * 15 + 10"
                                        v-bind:height="20"
                                        style="opacity: 0.8; stroke-width: 0; stroke: none;"
                                        v-bind:style="{fill: object.color}"/>
                                    <text
                                        v-bind:x="object.area.x + crop.offsetLeft + 5"
                                        v-bind:y="object.area.y + crop.offsetTop - 5"
                                        fill="#ffffff"
                                        font-weight="bold"
                                        font-family="helvetica"
                                        font-size="15px"
                                        >{{object.name}}</text>
                                </g>
                            </g>

                            <g v-for="guideElements in guides">
                                <g v-for="guide in guideElements">
                                    <line class="meta-line-guide" v-if="guide.type === 'line'"
                                        v-bind:x1="guide.x1 + crop.offsetLeft"
                                        v-bind:y1="guide.y1 + crop.offsetTop"
                                        v-bind:x2="guide.x2 + crop.offsetLeft"
                                        v-bind:y2="guide.y2 + crop.offsetTop"/>

                                    <g v-if="guide.type === 'text'">
                                        <text class="meta-text"
                                            v-bind:x="guide.x + crop.offsetLeft"
                                            v-bind:y="guide.y + crop.offsetTop"
                                            v-bind:transform="guide.vertical ? 'rotate(-90,' + (guide.x + crop.offsetLeft) + ', ' + (guide.y + crop.offsetTop) +')': 'rotate(0)'"
                                            >{{guide.text}}</text>
                                    </g>
                                </g>
                            </g>
                        </svg>
                        <div class="popup-side-panel">
                            <div v-if="spec">
                                <span class="spec-name">{{spec.name}}</span>
                                <ul v-if="spec.errors" class="spec-errors">
                                    <li v-for="error in spec.errors">{{error}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <script>renderTestReport(REPORT_DATA);</script>
    </body>
</html>
